PLATFORM=android
APPIUM_SERVER_URL=http://127.0.0.1:4723
ANDROID_DEVICE_NAME=Android Emulator
ANDROID_PLATFORM_VERSION=
ANDROID_APP=apps/android.wdio.native.app.v2.2.0.apk
IOS_DEVICE_NAME=iPhone 16
IOS_PLATFORM_VERSION=
IOS_APP=apps/ios.simulator.wdio.native.app.v2.2.0.zip
